/*menu right*/
.css-v758ki-AppMainContainer.e1ghgnen0 {
  margin: 0px;
}
.css-u4olba-SidebarContainer-card.el9l68m0 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border-radius: 0px;
  padding: 10px;
  height: 100vh;
  max-height: calc(-50px + 100vh);
}
.css-npvq26-SidebarHeading.el9l68m1 {
  color: white;
  font-weight: 900;
  font-size: 26px;
}
.css-pyxbz6-CollectionContainer.e1yhfkro0 {
  margin: 0px;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  background: ;
}
.css-y7r3-AppHeader {
  box-shadow: none;
  background-color: black;
}
.css-1blbyw7-SearchInput.el9l68m3 {
  border-radius: 0;
}
.ei6fm2r1.css-1u8x1er-IconWrapper.ei6fm2r0 svg path {
  fill: black;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5.sidebar-active {
  background: black;
  color: white;
  font-weight: 600;
  border-left-color: white;
}
.css-xse6lk-SidebarNavList.el9l68m4 {
  margin: 12px;
}
.css-xse6lk-SidebarNavList.el9l68m4 li {
  margin-bottom: 10px;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5 {
  border-left-color: transparent;
  color: white;
  font-weight: 600;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5 span.ei6fm2r1 {
  display: none;
}
.ei6fm2r1.css-tg1x8v-IconWrapper.ei6fm2r0 {
}

/*Header*/
.css-y7r3-AppHeader {
  box-shadow:    none !important;
  background-color: black !important;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  width: 100%;
  max-width: 100%;
  padding: 0px;
}
.css-e9z4u8-AppHeaderSiteLink.e1cy7qi03 {
  color: white;
}
.e1cy7qi02.css-15yst2y-IconWrapper-AvatarPlaceholderIcon-avatarImage.ei6fm2r0 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  color: white;
  border-radius: ;
}
.css-gkrpnu-StyledDropdownButton-button-default-caretDown-AppHeaderQuickNewButton-button-medium-gray.e16dayda3 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border-radius: 0;
}
.css-aygmkc-button-dropdownItem-StyledMenuItem {
}
.css-pp9jk1-DropdownList-dropdownList-DropdownList.e1d27pw02 {
  border-radius: 0px;
  box-shadow: none;
  color: black;
  font-weight: 600;
}
.css-pp9jk1-DropdownList-dropdownList-DropdownList.e1d27pw02:hover {
}
.css-aygmkc-button-dropdownItem-StyledMenuItem:hover {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  color: white;
  font-weight: 600;
}
.css-skl0o-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.e16dayda5.header-link-active {
  color: white;
  height: 56px;
}
.ei6fm2r1.css-tg1x8v-IconWrapper.ei6fm2r0 {
  transform: rotate(0deg);
  border-radius: 32px;
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  width: 34px;
  height: 34px;
  margin-right: 13px;
}
.css-skl0o-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.header-link-active .ei6fm2r1 {
  color: white !important;
}
.css-tg1x8v-IconWrapper svg {
  width: 25px !important;
  height: 25px !important;
  margin: 5px;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton .ei6fm2r1 {
  color: black;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:hover .ei6fm2r1, .css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:active .ei6fm2r1, .css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:focus .ei6fm2r1 {
  color: white !important;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.e16dayda1 {
  color: white !important;
  height: 56px;
  background: #151515;
  border-radius: 0px;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  height: 56px;
}
.css-ect4hj-CollectionTopContainer-card-cardTop.enajvhy0 {
  background: linear-gradient(-45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border-radius: 0px;
  box-shadow: none !important;
  height: 80px;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 0px;
}
.css-1f7nhiq-CollectionMain.e1yhfkro1 {
  padding-left: 250px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.css-v758ki-AppMainContainer.e1ghgnen0 {
  min-width: 800px;
  max-width: 100%;
}
.css-37khcc-CollectionTopHeading-cardTopHeading.enajvhy2 {
  color: white;
  font-weight: 900;
}
.css-1qfk5ut-CollectionTopNewButton-button-default-gray.enajvhy3 {
  border-radius: 0px;
  background: white;
  color: black;
  font-weight: 700;
  box-shadow: none;
}
.css-p5sjac-CollectionControlsContainer.e17kb5zm0 {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  margin-top: 0px;
  height: 80px;
  max-width: 100%;
  background: white;
}
.css-1f7nhiq-CollectionMain.e1yhfkro1 div:nth-child(3) {
  width: calc(100% - 250px);
  top: 136px;
  position: absolute;
}
.css-5wgw3f-ListCard-card.eab48an0 {
  width: 100%;
  margin: 12px 12px 0px 12px;
  box-shadow: none;
  border-radius: 0px;
  background: black;
}
.css-1iwq7gj-GridCard-card.eab48an2 {
  flex: auto;
  border-radius: 0px;
  margin: 12px;
}
.css-1l7q1fc-CardsGrid.e1hbvtjf0 {
  margin-top: 0px;
}
.css-lhgdwk-CardImage.eab48an8 {
  height: 190px;
}
.css-tshc3d-GridCardLink.eab48an3 {
  color: black;
  font-weight: 900;
}
.css-17fei3e-CardHeading.eab48an6 {
  font-weight: 900;
  color: white;
}
.css-uzzveo-CardBody::after {
  box-shadow: none !important;
}
.css-1t9i08i-ListCardLink.eab48an1 {
  color: white!i;
}
.css-1mtos59-ListCardTitle.eab48an5 {
  color: white;
  font-weight: 800;
}
