/*menu right*/
.css-v758ki-AppMainContainer.e1ghgnen0 {
  margin: 0px;
}
.css-u4olba-SidebarContainer-card.el9l68m0 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border-radius: 0px;
  padding: 10px;
  height: 100vh;
  max-height: calc(-50px + 100vh);
}
.css-npvq26-SidebarHeading.el9l68m1 {
  color: white;
  font-weight: 900;
  font-size: 26px;
}
.css-pyxbz6-CollectionContainer.e1yhfkro0 {
  margin: 0px;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  background: ;
}
.css-y7r3-AppHeader {
  box-shadow: none;
  background-color: black;
}
.css-1blbyw7-SearchInput.el9l68m3 {
  border-radius: 0;
}
.ei6fm2r1.css-1u8x1er-IconWrapper.ei6fm2r0 svg path {
  fill: black;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5.sidebar-active {
  background: black;
  color: white;
  font-weight: 600;
  border-left-color: white;
}
.css-xse6lk-SidebarNavList.el9l68m4 {
  margin: 12px;
}
.css-xse6lk-SidebarNavList.el9l68m4 li {
  margin-bottom: 10px;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5 {
  border-left-color: transparent;
  color: white;
  font-weight: 600;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5 span.ei6fm2r1 {
  display: none;
}
.ei6fm2r1.css-tg1x8v-IconWrapper.ei6fm2r0 {
}

/*Header*/
.css-y7r3-AppHeader {
  box-shadow: none;
  background: black;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  width: 100%;
  max-width: 100%;
  padding: 0px;
}
.css-e9z4u8-AppHeaderSiteLink.e1cy7qi03 {
  color: white;
}
.e1cy7qi02.css-15yst2y-IconWrapper-AvatarPlaceholderIcon-avatarImage.ei6fm2r0 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  color: white;
  border-radius: ;
}
.css-gkrpnu-StyledDropdownButton-button-default-caretDown-AppHeaderQuickNewButton-button-medium-gray.e16dayda3 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border-radius: 0;
}
.css-aygmkc-button-dropdownItem-StyledMenuItem {
}
.css-pp9jk1-DropdownList-dropdownList-DropdownList.e1d27pw02 {
  border-radius: 0px;
  box-shadow: none;
  color: black;
  font-weight: 600;
}
.css-pp9jk1-DropdownList-dropdownList-DropdownList.e1d27pw02:hover {
}
.css-aygmkc-button-dropdownItem-StyledMenuItem:hover {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  color: white;
  font-weight: 600;
}
.css-skl0o-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.e16dayda5.header-link-active {
  color: white;
  height: 56px;
}
.ei6fm2r1.css-tg1x8v-IconWrapper.ei6fm2r0 {
  transform: rotate(0deg);
  border-radius: 32px;
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  width: 34px;
  height: 34px;
  margin-right: 13px;
}
.css-skl0o-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.header-link-active .ei6fm2r1 {
  color: white;
}
.css-tg1x8v-IconWrapper svg {
  width: 25px;
  height: 25px;
  margin: 5px;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton .ei6fm2r1 {
  color: black;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:hover .ei6fm2r1, .css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:active .ei6fm2r1, .css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:focus .ei6fm2r1 {
  color: white;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.e16dayda1 {
  color: white;
  height: 56px;
  background: #151515;
  border-radius: 0px;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  height: 56px;
}
