@font-face {
    font-family: "Changa";
    src: url(../_nuxt/assets/font/changaOne/ChangaOne-Regular.ttf) format("truetype");
}
/*menu collections*/
.css-v758ki-AppMainContainer.e1ghgnen0 {
  margin: 0px;
}
.css-u4olba-SidebarContainer-card.el9l68m0 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border-radius: 0px;
  padding: 10px;
  height: 100vh;
  max-height: calc(-50px + 100vh);
}
.css-npvq26-SidebarHeading.el9l68m1 {
  color: white;
  font-weight: 900;
  font-size: 26px;
}
.css-pyxbz6-CollectionContainer.e1yhfkro0 {
  margin: 0px;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  background: ;
}
.css-y7r3-AppHeader {
  box-shadow: none;
  background-color: black;
}
.css-1blbyw7-SearchInput.el9l68m3 {
  border-radius: 0;
}
.ei6fm2r1.css-1u8x1er-IconWrapper.ei6fm2r0 svg path {
  fill: black;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5.sidebar-active {
  background: black;
  color: white;
  font-weight: 600;
  border-left-color: white;
}
.css-xse6lk-SidebarNavList.el9l68m4 {
  margin: 12px;
}
.css-xse6lk-SidebarNavList.el9l68m4 li {
  margin-bottom: 10px;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5 {
  border-left-color: transparent;
  color: white;
  font-weight: 600;
}
.css-ym260l-SidebarNavLink-sidebarNavLinkActive-SidebarNavLink.el9l68m5 span.ei6fm2r1 {
  display: none;
}
.ei6fm2r1.css-tg1x8v-IconWrapper.ei6fm2r0 {
}
/*header collections*/
.css-y7r3-AppHeader {
  box-shadow:    none !important;
  background-color: black !important;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  width: 100%;
  max-width: 100%;
  padding: 0px;
}
.css-e9z4u8-AppHeaderSiteLink.e1cy7qi03 {
  color: white;
}
.e1cy7qi02.css-15yst2y-IconWrapper-AvatarPlaceholderIcon-avatarImage.ei6fm2r0 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  color: white;
  border-radius: ;
}
.css-gkrpnu-StyledDropdownButton-button-default-caretDown-AppHeaderQuickNewButton-button-medium-gray.e16dayda3 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border-radius: 0;
}
.css-aygmkc-button-dropdownItem-StyledMenuItem {
}
.css-pp9jk1-DropdownList-dropdownList-DropdownList.e1d27pw02 {
  border-radius: 0px;
  box-shadow: none;
  color: black;
  font-weight: 600;
}
.css-pp9jk1-DropdownList-dropdownList-DropdownList.e1d27pw02:hover {
}
.css-aygmkc-button-dropdownItem-StyledMenuItem:hover {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  color: white;
  font-weight: 600;
}
.css-skl0o-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.e16dayda5.header-link-active {
  color: white;
  height: 56px;
}
.ei6fm2r1.css-tg1x8v-IconWrapper.ei6fm2r0 {
  transform: rotate(0deg);
  border-radius: 32px;
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  width: 34px;
  height: 34px;
  margin-right: 13px;
}
.css-skl0o-AppHeaderNavLink-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.header-link-active .ei6fm2r1 {
  color: white !important;
}
.css-tg1x8v-IconWrapper svg {
  width: 25px !important;
  height: 25px !important;
  margin: 5px;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton .ei6fm2r1 {
  color: black;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:hover .ei6fm2r1, .css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:active .ei6fm2r1, .css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton:focus .ei6fm2r1 {
  color: white !important;
}
.css-1dol16j-AppHeaderButton-button-buttonActive-buttonActive-buttonActive-buttonActive-AppHeaderButton.e16dayda1 {
  color: white !important;
  height: 56px;
  background: #151515;
  border-radius: 0px;
}
.css-12b66la-AppHeaderContent.e16dayda0 {
  height: 56px;
}
/*container collections*/
.css-ect4hj-CollectionTopContainer-card-cardTop.enajvhy0 {
  background: linear-gradient(-45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border-radius: 0px;
  box-shadow: none !important;
  height: 80px;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  margin-bottom: 0px;
}
.css-1f7nhiq-CollectionMain.e1yhfkro1 {
  padding-left: 250px;
  display: grid;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.css-v758ki-AppMainContainer.e1ghgnen0 {
  min-width: 800px;
  max-width: 100%;
}
.css-37khcc-CollectionTopHeading-cardTopHeading.enajvhy2 {
  color: white;
  font-weight: 900;
}
.css-1qfk5ut-CollectionTopNewButton-button-default-gray.enajvhy3 {
  border-radius: 0px;
  background: white;
  color: black;
  font-weight: 700;
  box-shadow: none;
}
.css-p5sjac-CollectionControlsContainer.e17kb5zm0 {
  grid-area: 1 / 2 / 2 / 3;
  width: 100%;
  margin-top: 0px;
  height: 80px;
  max-width: 100%;
  background: white;
}
.css-1f7nhiq-CollectionMain.e1yhfkro1 div:nth-child(3) {
  width: calc(100% - 250px);
  top: 136px;
  position: absolute;
}
.css-5wgw3f-ListCard-card.eab48an0 {
  width: 100%;
  margin: 12px 12px 0px 12px;
  box-shadow: none;
  border-radius: 0px;
  background: black;
}
.css-1iwq7gj-GridCard-card.eab48an2 {
  flex: auto;
  border-radius: 0px;
  margin: 12px;
}
.css-1l7q1fc-CardsGrid.e1hbvtjf0 {
  margin-top: 0px;
  margin-left: 0px!important;
}
.css-lhgdwk-CardImage.eab48an8 {
  height: 190px;
}
.css-tshc3d-GridCardLink.eab48an3 {
  color: black;
  font-weight: 900;
}
.css-17fei3e-CardHeading.eab48an6 {
  font-weight: 900;
  color: white;
}
.css-uzzveo-CardBody::after {
  box-shadow: none !important;
}
.css-1t9i08i-ListCardLink.eab48an1 {
  color: white!important;
}
.css-1mtos59-ListCardTitle.eab48an5 {
  color: white;
  font-weight: 800;
}
.css-1mtos59-ListCardTitle.eab48an5:hover {
  color: ;
}
.css-1t9i08i-ListCardLink.eab48an1:hover h2 {
  color: black;
}
.css-1qfk5ut-CollectionTopNewButton-button-default-gray.enajvhy3:hover {
  background: transparent;
}
/*header toolbar post edit*/
.css-hn3jn7-EditorContainer.e1pxf6c43 {
    padding-top: 56px;
}
.css-2oej7z-ToolbarContainer.evqrzhe1 {
  height: 56px;
  box-shadow: none;
  background: black;
}
.css-16b5p1f-ToolbarSectionMain-toolbarSection.evqrzhe2 {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  border: 0px !important;
}
.css-abwcjt-ToolbarSectionBackLink-toolbarSection.evqrzhe5 {
  border-right: 0px;
}
.css-1whurdv-BackCollection.evqrzhe9 {
  font-weight: 600;
  color: white;
}
.css-f78fim-BackStatus-BackStatusUnchanged-badge-textBadge-textBadgeSuccess.evqrzhe11 {
  color: #3bade3;
}
.css-1ixjrmh-ToolbarButton-button-default-buttonMargin-noOverflow-DeleteButton-lightRed.evqrzhe14 {
  border-radius: 0px;
  background: #ff357f;
  color: white;
  font-weight: 600;
}
.css-13lzkq8-PreviewLink-RefreshPreviewButton.evqrzhe23 {
  color: white;
}
.ei6fm2r1.css-ztwcyu-IconWrapper.ei6fm2r0 {
  color: white;
}
.css-1t2w4bv-StyledDropdownButton-button-default-caretDown-DropdownButton-noOverflow-PublishedToolbarButton-publishedButton.evqrzhe16 {
  border-radius: 0px;
  background: white;
  color: black;
}
.css-1acatj1-ToolbarSectionMeta-toolbarSection.evqrzhe6 {
  border-left: 0px;
}

/* EFFET DEGRADER SUR LES INPUT */
input {
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
input.css-83wr9v {
  display:inline-block;
}
/* TYPO STYLE GLOBAL */
.css-pcief1-FieldLabel-fieldLabel.e1j7dp4t0 {
  color: black;
  background: transparent;
  font-weight: 700;
  border-radius: 0px;
  padding: 0px 0px;
  line-height: 20px;
}
.css-83wr9v {
  border: 0px;
  padding: 0px 0px;
  font-size: 20px;
  font-weight: 900;
  font-family: Changa;
}
.css-pcief1-FieldLabel-fieldLabel::before, .css-pcief1-FieldLabel-fieldLabel::after {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: -4px;
    height: 100%;
    width: 4px;
    background-color: inherit;
}
.css-1i99lav-ExpandButton-button:last-of-type {
  margin-right: 0px;
}

.css-1yewego-button-default-lightBlue-small-DateTimeControl {
  border-radius: 0px;
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  color: white;
  font-family: Changa;
}
.css-1c858j3-ControlContainer {
  margin-top: 25px;
}

/* Titre de l'événement */
#title-field-37 {
  font-size: 30px;
  line-height: 35px;
  height: 35px;
}

/* Couverture de l'événement */
.css-6xnv66-ImageWrapper-checkerboard.e1awjdnj0 {
  width: 50%;
  border-radius: 0px;
  border: 0px solid;
  padding: 10px;
  height: 150px;
  margin-bottom: 5px;
  margin-right: 0px;
  float: left;
}
  /* Couverture de l'événement : BTN */
  .css-nue7xp-FileWidgetButton-button-badge-backgroundBadge-badge.e1awjdnj6 {
    padding: 10px;
    width: 50%;
    border-radius: 0px;
    background-color: #3cabe3;
    color: white;
    height: 75px;
  }
  .css-ea70dx-FileWidgetButtonRemove-button-badge-backgroundBadge-badgeDanger {
    padding: 10px;
    width: 50%;
    border-radius: 0px;
    color: white;
    background-color: #ff357f;
    margin-top: 0px;
    height: 75px;
  }

/* Evenement */
#event-field-27 {
  padding: 0px;
  border: none;
  border-radius: 0px;
  background: transparent;
}
#event-field-27 .css-1265b6l-TopBarContainer.e1yavck40 {
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  justify-content: end;
  margin-top: -22px;
  background: transparent;
  border-bottom: ;
}
#event-field-27 .css-1c858j3-ControlContainer:first-of-type {
  margin-top: 0px;
  background: #e1e1e1;
  padding: 10px 10px 0px 10px;
}
#event-field-27 .css-1c858j3-ControlContainer {
  margin-top: 0px;
  background: #e1e1e1;
  padding: 0px 10px 0px 10px;
}
#event-field-27 .css-1i99lav-ExpandButton-button {
  padding: 0px;
  line-height: 20px;
}
/* Evenement */
#artiste-field-49.css-18h6btn {
  padding: 0px;
  border: none;
  border-radius: 0px;
}
#artiste-field-49 .css-1265b6l-TopBarContainer {
  background: #e1e1e1;
}
#artiste-field-49 .css-o9add1-AddButton-button.e1yavck43 {
  border-radius: 0px;
  background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
  color: white;
  font-family: Changa;
  font-size: 13px;
  font-weight: 400;
}
#artiste-field-49 .css-ohbgub-ListItem-listControlItem-listControlItemCollapsed-ListControl .css-ohbgub-ListItem-listControlItem-listControlItemCollapsed-ListControl:first-of-type {
  margin-top: 5px;
}
#artiste-field-49 .css-dxc55w-TopBar-StyledListItemTopBar-StyledListItemTopBar {
  border-radius: 0px;
  background: #f2f2f2;
}
#artiste-field-49 .css-1gic66b-NestedObjectLabel.e14bfka82 {
  background-color: #f2f2f2;
  border-radius: 0px;
}
#artiste-field-49 .css-ohbgub-ListItem-listControlItem-listControlItemCollapsed-ListControl {
  margin-top: 5px;
}
#artiste-field-49 .css-el6sti-ListItem-listControlItem-ListControl {
  margin-top: 5px;
}
#artiste-field-49 .css-el6sti-ListItem-listControlItem-ListControl .css-dxc55w-TopBar-StyledListItemTopBar-StyledListItemTopBar {
  background: #e1e1e1;
}
#artiste-field-49 .css-el6sti-ListItem-listControlItem-ListControl .css-lrln3v {
  background: #e1e1e1;
  padding: 8px;
}
#artiste-field-49 .css-el6sti-ListItem-listControlItem-ListControl .css-1c858j3-ControlContainer:first-of-type {
  margin-top: 5px;
}
#artiste-field-49 .css-el6sti-ListItem-listControlItem-ListControl .css-1c858j3-ControlContainer {
  margin-top: 5px;
}
/********************************************/
.Pane1 {
    width: 30% !important;
}
[class*="-ControlContainer"],
[id*="lieu-field-"],
[id*="artiste-field-"],
[id*="meta-field-"],
[class*="ListItem-listControlItem-ListControl"] div:nth-child(3),
[id*="theme-field-"] {
    background: rgb(223, 223, 227) !important;
}
[class*="-ControlContainer"] label {
    background: #fff !important;
    color:#000 !important;
    display: block;
}
[class*="-ControlContainer"] input {
    border-radius: 0;
    font-size: 19px;
    font-family: changa;
    font-weight: normal;
}
.Pane1 [class*="-button-default-"],
.Pane1 [class*="-AddButton-"] {
    border-radius: 0 !important;
    color:#fff !important;
    background: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
}
.Pane1 [class*="-small-DateTimeControl"] {
    position: absolute;
    transform: translateY(-7px);
    right: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 30px;
    text-transform: uppercase;
    padding-bottom: 2px;
}
.Pane1 [class*="-AddButton-"] {
    padding: 0px 15px 2px;
    font-size: 16px;
    line-height: 28px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: initial;
}
[id*="artiste-field-"] [class*="-ControlContainer"] label,
[id*="lieu-field-"] [class*="-ControlContainer"] label,
[id*="meta-field-"] [class*="-ControlContainer"] label {
    background:transparent !important;
}
label::before, label::after {
    content: none !important;
}
