/*
NOMADS CMS
*/

@font-face {
    font-family: "Changa";
    src: url(../_nuxt/assets/font/changaOne/ChangaOne-Regular.ttf) format("truetype");
}

:root {
  --universal-margin: 25px;
  --universal-padding: 25px;
  --universal-border-radius: 0;
  --swiper-theme-color:#007aff;
  --swiper-navigation-size:44px;

  --gradient: linear-gradient(45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
}

html {
   font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
    background: #fff;
}
input[type="text"] {
    width: calc(100% - 30px);
    border: none;
    margin-bottom: 15px;
    padding: 15px;
    cursor: help;
}
button {
    outline: none;
}

.main {
    background: #fff;
    display: block;
    min-height: 100vh;
    padding: 0;
    position: relative;
}
.grid-content{
    max-width: 1080px;
    width:100%;
    padding: 0 50px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    background: #fff;
    width: 100%;
    padding: 50px;
}
.clipPath {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.directGlitch {
  -webkit-filter: url("#glitch");
  filter: url("#glitch");

}
.glitchy:hover {
  -webkit-filter: url("#glitch");
  filter: url("#glitch");
}
#footer svg {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 0px;
    height: 0px;
}
/*
Tricks & Snippets css
*/
h1, .h1{ font-size: 70px; }
h2, .h2{ font-size: 60px; }
h3, .h3{ font-size: 50px; }
h4, .h4{ font-size: 40px; }
h5, .h5{ font-size: 30px; }
h6, .h6{ font-size: 20px; }
.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.text-justify{ text-align: justify; }
.sticky{ position: sticky; }
.saturate{ filter: saturate(0); }
.underline {
    position: relative;
}
.underline::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 7px;
    background: var(--gradient);
}
.text-gradient{
    position:relative;
}
.text-gradient::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg,#3bade3,#576fe6 25%,#9844b7 51%,#ff357f);
    background-clip: border-box;
    width: 100%;
    height: 100%;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: transparent;
    line-height: 50px;
    opacity: 0;
    transition: opacity 1s linear;
}
.text-gradient:hover::before {
    opacity: 1;
}

/*
AGENDA Slug
*/
.slug-content {
    position: relative;
    z-index: 1;
}
.ticket-content {
    background: #000;
    padding:25px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}
.countdown {
    color: white;
    text-align: left;
    display: inline-block;
    width: 100%;
}
.current-time {
    display: inline-flex;
    justify-content: space-between;
    width:100%;
}
.current-time p {
    margin: 0 15px;
    text-align:center;
}
.current-time p span {
    width: 100%;
    display: block;
    line-height: initial;
    text-transform: uppercase;
    font-size: 30px;
}
.current-time p span:first-child {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    line-height: 50px;
}
.reserv {
    text-align: right;
    padding: 20px;
}
.ticket-content .underline {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: changa;
    font-size: 25px;
    top: 50%;
    transform: translateY(calc(-50% - 7px));
    position: relative;
    display: inline-block;
}
.ticket-content .timeto {
    top: -7px;
    transform: translate(-50% , 0);
    text-align: center;
    left: 50%;
}


.content-slug  {
    position: relative;
    padding-bottom: 30px;
}
.content-slug.artistes {
    margin-top: 75px;
}
.content-slug:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 7px;
    top:35px;
    background:var(--gradient);
}
.content-slug:not(.artistes):after,
.artistes .agenda-content:after{
    content:'';
    position: absolute;
    width: 100%;
    height: 7px;
    bottom:0;
    background:#cecece;
}
.content-slug  h3 {
    font-size: 73px;
    font-family: Changa;
    margin: 0;
    position: relative;
    display: inline-block;
    padding-right: 20px;
    background: #fff;
    z-index: 1;
    text-transform: uppercase;
}
.map {
    float: right;
    position: relative;
    top: 10px;
    color: #000;
}
.map i {
    background: #fff;
    font-size: 60px;
    padding-left: 15px;
}
.map .map-link {
    position: absolute;
    width: max-content;
    font-size: 24px;
    font-family: Changa;
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 0 10px;
    transform: rotate(90deg) translatey(50%);
    bottom: -23px;
    left: calc(50% + 8px);
    transform-origin: bottom left;
}
.artistes .map-link {
    background: transparent;
}
.map-link p {
    padding: 12.5px 0;
    margin: 0;
}
.artistes .map-link p {
    display: inline-block;
    padding: 4px 5px;
    position: relative;
    font-size: 40px;
    background: inherit;
}
.artistes .map-link p:before {
    content:'';
    display: inline;
    background: linear-gradient(#fff,#fff) padding-box, var(--gradient) border-box,  var(--gradient);
    border-top: 2px dashed #fff;
    border-bottom: 2px dashed #fff;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
}
.artistes .map-link p:after {
    content:'';
    display: inline;
    background: linear-gradient(#fff,#fff) padding-box, var(--gradient) border-box,  var(--gradient);
    border-top: 2px dashed #fff;
    border-bottom: 2px dashed #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
}

.text-gradient,
.markdown-body a{
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.triangle {
    display: block;
    height: 0;
    width: 0;
    border-right: 25px solid transparent;
    border-bottom: 23px solid #000;
    border-left: 25px solid transparent;
    position: absolute;
    top: 60px;
    right: 4px;
}
.agenda-thumbs{
  width:200px;
  height:200px;
  background-position:center center;
  background-size:cover;
  margin-top: 10px;
}
.agenda-content {
    padding-right: 75px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.artistes .agenda-content {
    position: relative;
    padding-bottom: 30px;
}
.content-markdown {
    padding: 0 10px;
}
.content-markdown p {
    font-size: 22px;
}
.artistes .agenda-content h4 {
    font-size: 33px;
    margin: 0 0 15px;
}
.artiste-link {
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    display: block;
}
.title-event {
    font-weight: 300;
    color: gray;
    font-size: 13px;
    text-transform: uppercase;
}
/****************SLIDER*****************/
.slider {
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.swiper {
  height: 80vh;
  width: 100%;
}
.swiper-wrapper {
    height: 100%;
}
.swiper-slide {
  text-align: right;
  font-size: 38px;
  font-weight: 700;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height:100%;
}
.swiper-pagination > .swiper-pagination-bullet {
  background: white!important;
  mix-blend-mode: difference!important;
}
.swiper-button-next, .swiper-button-prev{
  color: white!important;
  mix-blend-mode: difference!important;
}
 .fontblur {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    filter: blur(5px);
}
.agenda-slug .fontblur{
    filter: blur(50px);
    opacity: 1;
}
.agenda-slug .swiper-button-next, .agenda-slug .swiper-button-prev {
    display: none;
}
.swiper-slide .grid-content {
    height: calc(100% - 50px);
    max-width: 1180px;
    padding: 25px 0;
}
.swiper-slide .slider-content {
    text-decoration: none;
    color: #fff;
    margin: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.flyer {
    position: absolute;
    width: 40%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.content-right {
    position: relative;
    display: block;
    width: 60%;
    left: 40%;
    transition: all .5s ease;
    top: 0%;
    transform: translateY(0);
}
.agenda-slug .content-right {
    top: 50%;
    transform: translateY(-50%);
}
.swiper-slide a .meta {
    display: block;
}
.swiper-slide .grid-content p {
    margin: 0;
    font-size: 24px;
    line-height: 35px;
    font-weight: normal;
    text-align: right;
}
.swiper-slide .grid-content p.hour {
    font-size: 34px;
    padding-bottom: 15px;
}
.swiper-slide .grid-content p.date {
    margin-bottom: -10px;
}
.swiper-slide .grid-content p.author {
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0 0;
    border-top: 8px solid #fff;
    padding-top: 15px;
    display: inline-block;
}
.swiper-slide .grid-content p.author span{
    font-weight: bold;
}
.swiper-slide .grid-content p.event {
    font-weight: bold;
}
.swiper-slide .artistes {
    margin: 0;
    position: relative;
    padding: 50px 0;
    list-style: none;
}
.swiper-slide .artistes li {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    padding-right: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: right;
}
.swiper-slide .artistes li:hover {
    font-weight: 600;
}
.swiper-slide .artistes li::after {
    content: "<";
    position: absolute;
    width: 50px;
    line-height: 75px;
    text-align: center;
    opacity: .5;
}
.ticket {
    line-height: 75px;
    display: block;
    padding-right: 25px;
    text-align: right;
    background: #000;
    font-size: 22px;
    font-weight: bold;
    font-family: "Changa";
}
.ticket i {
    float: left;
    line-height: 75px;
    font-size: 35px;
    padding-left: 25px;
}
