/*
components > ui > header.vue
*/

html {
   font-family: 'Titillium Web', sans-serif;
}

.menu {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
.black-col {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100vh;
    background: #000;
}
.logo {
    width: calc(100% - 30px);
    height: auto;
    display: block;
    padding: 15px;
}
.logo img {
    max-width: 100%;
}
.main-menu{
    width: 50px;
    height: 300px;
    left: 150px;
    position: absolute;
    background: linear-gradient(45deg,var(--gradient-one),var(--gradient-one) 25%,var(--gradient-two) 51%,var(--gradient-two));
    -webkit-transition: width .5s ease,height .5s ease .5s;
    transition: width .5s ease,height .5s ease .5s;
    overflow: hidden;
}
.main-menu.active {
   width:300px;
   height:100%
}
#menu-select {
 position:relative;
 top:10px;
 display:table;
 left:10px
}
#menu-select p {
 text-align:center;
 font-size:34px;
 font-weight:600;
 font-family:Titillium Web,sans-serif;
 line-height:34px;
 margin:0;
 color:#fff;
 height:34px
}
#menu-select p:before {
 content:"M";
 opacity:1;
 -webkit-transition:opacity .5s ease .5s;
 transition:opacity .5s ease .5s
}
#menu-select p:after {
 content:"x";
 opacity:0;
 left:7px;
 position:absolute;
 font-size:32px;
 line-height:23px;
 -webkit-transition:opacity .5s ease;
 transition:opacity .5s ease
}
.main-menu.active #menu-select p:after {
 opacity:1;
 -webkit-transition:opacity .5s ease .5s;
 transition:opacity .5s ease .5s
}
.main-menu.active #menu-select p:before {
 opacity:0;
 -webkit-transition:opacity .5s ease;
 transition:opacity .5s ease
}
#menu-select span {
 background-color:#fff;
 display:block;
 width:4px;
 float:left;
 transition:all .7s;
}
#menu-select span:nth-child(2) {
 margin-left:2px;
 color:#fff
}
#menu-select span:nth-child(3) {
 margin-left:6px;
 margin-right:6px
}
.nav-list {
    background: 0 0;
    position: absolute;
    top: 0;
    left: 50px;
    width: 250px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
/*
components > ui > footer.vue
*/
#footer {
    width: 100%;
    background: #fff;
    height: 50px;
}
#footer.sticky {
    position: fixed;
    bottom:0;
    left:0;
}

#footer .accordion {
    background: #e1e1e1;
    text-align: center;
}
.grid-footer {
    padding: 0 25px;
    text-transform: uppercase;
}
.grid-footer p {
    display: inline-block;
    margin: 0;
    line-height: 50px;
    font-size: 18px;
}
.grid-footer button {
    background: none;
    border: none;
    color: #555;
    padding: 0;
    float: right;
    display: block;
    font-size: 12px;
    line-height: 50px;
    text-transform: uppercase;
}
.grid-footer button:hover {
    background: none;
    color: #333;
}
.grid-footer button.acordion-title {
    padding: 0 5px 0 25px;
}
.grid-footer button.acordion-title i {
    right: auto;
    left: 0;
    transform: translatey(-50%) rotate(180deg);
}
.grid-footer button.acordion-title.active i {
    transform: translatey(-50%) rotate(0deg);
}
