/*
components > ui > header.vue
*/



.menu {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}
.black-col {
    position: fixed;
    top: 0;
    left: 0;
    width: 65px;
    height: 100vh;
    background: #000;
}
.logo {
    width: calc(70% - 45px);
    height: auto;
    display: block;
    padding: 15px;
    position: relative;
    margin-left: 30%;
}
.main-menu{
    width: 65px;
    height: 300px;
    top: 0;
    left: 0px;
    position: absolute;
    background:var(--gradient);
    -webkit-transition: width .5s ease,height .5s ease .5s;
    transition: width .5s ease,height .5s ease .5s;
    overflow: hidden;
}
.main-menu.active {
   width:415px;
   height:100%
}
#menu-select {
   position:relative;
   top:20px;
   display:table;
   left:18px
}
#menu-select p {
   text-align:center;
   font-size:34px;
   font-weight:600;
   font-family:Titillium Web,sans-serif;
   line-height:34px;
   margin:0;
   color:#fff;
   height:34px
}
#menu-select p:before {
   content:"M";
   opacity:1;
   -webkit-transition:opacity .5s ease .5s;
   transition:opacity .5s ease .5s
}
#menu-select p:after {
   content:"X";
   opacity:0;
   left:5.5px;
   position:absolute;
   font-size:32px;
   line-height:34px;
   -webkit-transition:opacity .5s ease;
   transition:opacity .5s ease
}
.main-menu.active #menu-select p:after {
   opacity:1;
   -webkit-transition:opacity .5s ease .5s;
   transition:opacity .5s ease .5s
}
.main-menu.active #menu-select p:before {
   opacity:0;
   -webkit-transition:opacity .5s ease;
   transition:opacity .5s ease
}
#menu-select span {
   background-color:#fff;
   display:block;
   width:5px;
   float:left;
   transition:all .7s;
}
#menu-select span:nth-child(2) {
   margin-left:2px;
   color:#fff
}
#menu-select span:nth-child(3) {
   margin-left:5px;
   margin-right:5px
}
.nav-list {
    background: 0 0;
    position: absolute;
    top: 0;
    left: 65px;
    width: 350px;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
}
.ticket {
    line-height: 75px;
    display: block;
    padding-right: 25px;
    text-align: right;
    background: #000;
    font-size: 22px;
    font-weight: bold;
    font-family: "Changa";
}
.ticket i {
    float: left;
    line-height: 75px;
    font-size: 35px;
    padding-left: 25px;
}
nav ul {
    list-style: none;
    text-align: right;
    display: grid;
    margin: 0;
    padding: 0;
}
nav ul li {
    padding: 0;
    position: relative;
    display: inline-block;
    margin-right: 25px;
    line-height: 45px;
}
nav a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
    z-index: 1;
}
.menu-list a {
    font-size: 25px;
    line-height: 50px;
}
.nav-list a:before {
  content: "";
  position: absolute;
  background: #000000;
  width: 0px;
  height: 13px;
  top: 50%;
  transform: translate(0%, 0%);
  transition: all .3s ease;
  z-index: -1;
}
.nav-list li a:hover:before {
  width: 100%;
}
.menu h2 {
    font-size: 29px;
    text-align: right;
    padding-right: 25px;
    margin: 20px 0 0;
    line-height: 40px;
}
.rs-list {
    position: absolute;
    bottom: 25px;
    width: 100%;
}
.rs-list i {
    font-size: 30px;
}

/****************SLIDER*****************/
.swiper {
  height: 70vh;
  width: 100%;
}
.swiper-slide {
  text-align: right;
  font-size: 38px;
  font-weight: 700;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.swiper-pagination > .swiper-pagination-bullet {
  background: white!important;
  mix-blend-mode: difference!important;
}
.swiper-button-next, .swiper-button-prev{
  color: white!important;
  mix-blend-mode: difference!important;
}
 .fontblur {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
}
.agenda-slug .fontblur{
    filter: blur(50px);
    opacity: 1;
}
.agenda-slug .swiper-button-next, .agenda-slug .swiper-button-prev {
    display: none;
}
.swiper-slide .grid-content {
    height: calc(100% - 50px);
    max-width: 1180px;
    padding: 25px 0;
}
.swiper-slide .slider-content {
    text-decoration: none;
    color: #fff;
    margin: 0;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.flyer {
    position: absolute;
    width: 40%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.content-right {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
.swiper-slide a .meta {
    display: block;
}
.swiper-slide .grid-content p {
    margin: 0;
    font-size: 24px;
    line-height: 35px;
    font-weight: normal;
    text-align: right;
}
.swiper-slide .grid-content p.hour {
    font-size: 34px;
    padding-bottom: 15px;
    display: inline-block;
    border-bottom: 8px solid #fff;
}
.swiper-slide .grid-content p.date {
    margin-bottom: -10px;
}
.swiper-slide .grid-content p.author {
    font-size: 16px;
    text-transform: uppercase;
    margin: 10px 0 0;
}
.swiper-slide .grid-content p.author span{
    font-weight: bold;
}
.swiper-slide .grid-content p.event {
    font-weight: bold;
}
.swiper-slide .artistes {
    margin: 0;
    position: relative;
    padding: 50px 0;
    list-style: none;
}
.swiper-slide .artistes li {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    padding-right: 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: right;
}
.swiper-slide .artistes li:hover {
    font-weight: 600;
    padding-right: 50px;
}
.swiper-slide .artistes li::after {
    content: "<";
    position: absolute;
    width: 50px;
    line-height: 75px;
    text-align: center;
    opacity: .5;
}
/*
components > ui > footer.vue
*/
#footer {
    width: 100%;
    background: #000;
    height: 50px;
    position: relative;
    color: #fff;
    padding: 25px 0;
}
#footer .grid-content {
    display: flex;
    padding: 0;
}
#footer .grid-content div {
    width: 50%;
}
#footer p {
    margin: 0;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
