/*
NOMADS CMS
*/

@font-face {
    font-family: "Changa";
    src: url(~assets/font/changaOne/ChangaOne-Regular.ttf) format("truetype");
}

:root {
  --universal-margin: 25px;
  --universal-padding: 25px;
  --universal-border-radius: 0;
  --swiper-theme-color:#007aff;
  --swiper-navigation-size:44px;

  --color-one:#3bade3;
  --color-two:#ff357f;
  --gradient: #cecece;
}

html {
   font-family: 'Titillium Web', sans-serif;
}

body {
    margin: 0;
    background: #fff;
}
input[type="text"] {
    width: calc(100% - 30px);
    border: none;
    margin-bottom: 15px;
    padding: 15px;
    cursor: help;
}
button {
    outline: none;
}

.main {
    background: #fff;
    display: block;
    min-height: 100vh;
    padding: 0;
    position: relative;
}
.grid-content{
    max-width: 1080px;
    width:100%;
    padding: 0 50px;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    background: #fff;
    width: 100%;
    padding: 50px;
}
/*
Tricks & Snippets css
*/
h1, .h1{ font-size: 70px; }
h2, .h2{ font-size: 60px; }
h3, .h3{ font-size: 50px; }
h4, .h4{ font-size: 40px; }
h5, .h5{ font-size: 30px; }
h6, .h6{ font-size: 20px; }
.text-left{ text-align: left; }
.text-center{ text-align: center; }
.text-right{ text-align: right; }
.text-justify{ text-align: justify; }
.sticky{ position: sticky; }
.saturate{ filter: saturate(0); }
.underline {
    position: relative;
}
.underline::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 7px;
    background: var(--gradient);
}
.text-gradient{
    position:relative;
}
.text-gradient::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgb(27, 3, 3) 0%, rgb(240, 0, 1) 35%, rgb(27, 3, 3) 100%);
    background-clip: border-box;
    width: 100%;
    height: 100%;
    -webkit-background-clip: inherit;
    -webkit-text-fill-color: transparent;
    line-height: 50px;
    opacity: 0;
    transition: opacity 1s linear;
}
.text-gradient:hover::before {
    opacity: 1;
}

/*
AGENDA
*/
.list-content {
    padding-top: 50px;
}
.grid-item {
    position: relative;
    width: calc((100% / 3) - 20px);
    display: inline-grid;
    padding: 0 10px;
    height:200px;
    margin-bottom: 30px;
}
article .agenda-thumbs {
    width: 35%;
    margin: 0;
    position: absolute;
    left: 10px;
    top: 0;
}
.grid-item .content-right {
    width: 100%;
    left: 0;
}
.style {
    font-size: 15px;
    margin: 0;
    color: #000;
    font-family: changa;
    position: absolute;
    top: 0;
    right: 0;
    transform: translatex(100%) rotate(90deg);
    transform-origin: top left;
}
.style span{
    color:var(--color-one);
}
.style span:first-child{
    color:var(--color-two);
}
article .artistes {
    list-style: none;
    padding: 0;
    padding-right: 30px;
    margin: 0;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
}
article .artistes li {
    margin: 8px 0;
}
article .date {
    position: absolute;
    bottom: 10px;
    margin: 0;
    right: 20px;
    font-weight: bold;
    font-size: 14px;
}
article .link {
    color: #fff;
    background: #000;
    text-decoration: navajowhite;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: calc(35% - 20px);
}

/*
AGENDA Slug
*/
.ticket-content {
    background: #000;
    padding:25px 0;
    position: sticky;
    top: 0;
    z-index: 10;
}
.ticket-content .grid-content {

}
.countdown {
    color: white;
    text-align: left;
    display: inline-block;
    width: 100%;
}
.current-time {
    display: inline-flex;
}
.current-time p {
    margin: 0 15px;
    text-align:center;
}
.current-time p span {
    width: 100%;
    display: block;
    line-height: initial;
    text-transform: uppercase;
    font-size: 30px;
}
.current-time p span:first-child {
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    line-height: 50px;
}
.reserv {
    text-align: right;
    padding: 20px;
}
.ticket-content .underline {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: changa;
    font-size: 25px;
    top: 50%;
    transform: translateY(calc(-50% - 7px));
    position: relative;
    display: inline-block;
}
.ticket-content .timeto {
    top: -7px;
    transform: translate(-50% , 0);
    text-align: center;
    left: 50%;
}


.content-slug  {
    position: relative;
    padding-bottom: 30px;
}
.content-slug.artistes {
    margin-top: 75px;
}
.content-slug:before{
    content:'';
    position: absolute;
    width: 100%;
    height: 7px;
    top:35px;
    background:var(--gradient);
}
.content-slug:not(.artistes):after,
.artistes .agenda-content:after{
    content:'';
    position: absolute;
    width: 100%;
    height: 7px;
    bottom:0;
    background:#cecece;
}
.content-slug  h3 {
    font-size: 73px;
    font-family: Changa;
    margin: 0;
    position: relative;
    display: inline-block;
    padding-right: 20px;
    background: #fff;
    z-index: 1;
    text-transform: uppercase;
}
.map {
    float: right;
    position: relative;
    top: 10px;
    color: #000;
}
.map i {
    background: #fff;
    font-size: 60px;
    padding-left: 15px;
}
.map .map-link {
    position: absolute;
    width: max-content;
    font-size: 24px;
    font-family: Changa;
    color: #fff;
    text-decoration: none;
    background: #000;
    padding: 0 10px;
    transform: rotate(90deg) translatey(50%);
    bottom: -23px;
    left: calc(50% + 8px);
    transform-origin: bottom left;
}
.artistes .map-link {
    background: transparent;
}
.map-link p {
    padding: 12.5px 0;
    margin: 0;
}
.artistes .map-link p {
    display: inline-block;
    padding: 4px 5px;
    position: relative;
    font-size: 40px;
    background: inherit;
}
.artistes .map-link p:before {
    content:'';
    display: inline;
    background: linear-gradient(#fff,#fff) padding-box, var(--gradient) border-box,  var(--gradient);
    border-top: 2px dashed #fff;
    border-bottom: 2px dashed #fff;
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
}
.artistes .map-link p:after {
    content:'';
    display: inline;
    background: linear-gradient(#fff,#fff) padding-box, var(--gradient) border-box,  var(--gradient);
    border-top: 2px dashed #fff;
    border-bottom: 2px dashed #fff;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
}

.text-gradient,
.markdown-body a{
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.triangle {
    display: block;
    height: 0;
    width: 0;
    border-right: 25px solid transparent;
    border-bottom: 23px solid #000;
    border-left: 25px solid transparent;
    position: absolute;
    top: 60px;
    right: 4px;
}
.agenda-thumbs{
  width:200px;
  height:200px;
  background-position:center center;
  background-size:cover;
  margin-top: 10px;
}
.agenda-content {
    padding-right: 75px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.artistes .agenda-content {
    position: relative;
    padding-bottom: 30px;
}
.content-markdown {
    padding: 0 10px;
}
.content-markdown p {
    font-size: 22px;
}
.artistes .agenda-content h4 {
    font-size: 33px;
    margin: 0 0 15px;
}
.artiste-link {
    color: #000;
    font-weight: bold;
    margin-top: 20px;
    display: block;
}
.title-event {
    font-weight: 300;
    color: gray;
    font-size: 13px;
    text-transform: uppercase;
}
.other-event {
   background:#cecece;
}
.other-event .grid-content{
    display: grid;
    grid-template-columns: 33% 1fr 33%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 100px 0;
}
.other-event .grid-item {
    width: calc(100% - 20px);
}
.select-other {
    text-align: center;
}
.other-event .underline {
    font-size: 30px;
    margin: 0;
    font-family: changa;
    line-height: 25px;
    padding-bottom: 15px;
}
.other-event .grid-item:nth-child(3) .agenda-thumbs {
    left:auto;
    right:10px;
}
.other-event .grid-item:nth-child(3) .style {
    right: auto;
    left: 0;
    transform-origin: top right;
    transform: translateX(-100% ) rotate(-90deg);
}
.other-event .grid-item:nth-child(3) .artistes {
    padding-right: 0;
    padding-left: 30px;
    text-align: left;
}
.other-event .grid-item:nth-child(3) .date {
    left: 20px;
    right: auto;
}
.other-event .grid-item:nth-child(3) .link {
    left: auto;
    right: calc(35% - 20px);
}
.other-event .grid-item:nth-child(3) .content-right {
  left: 0;
}
